.galaxy-wrapper {
    z-index: 1;
    display: -ms-grid;
    display: grid;
    min-height: 100vh;
    grid-auto-columns: 1fr;
    grid-auto-rows: 12.5vw;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 12.5vw;
    grid-template-rows: 12.5vw;
    background-color: #000;
}
